@import "parralax.css";
@import "sections.css";
@import "mediaQueries.css";




body {
	 
	 color: black;
	 background-color: #ffffff;
}

nav { 
	  
	  position: fixed;
	  top:0;
      z-index: 9999;
      width: 100%;
      background-color: #00a087;
	  color: #ffffff;
	  height: 85px;
	  background: #444444; /* Old browsers */
	  background: -moz-linear-gradient(top,  #444444 0%, #444444 80%, #24cfe5 80%, #24cfe5 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(80%,#444444), color-stop(80%,#24cfe5), color-stop(100%,#24cfe5)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* IE10+ */
	  background: linear-gradient(to bottom,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#24cfe5',GradientType=0 ); /* IE6-9 */



}

.nav-wrapper {
 text-align: center;

}

ul#desktop-nav {
	text-align: center;
	margin: 0 auto;

}

ul#mobile-nav {

	text-align: center;

}

.main-button-box{

	text-align: center;
}


a.main-buttons,
a.mobile-nav-buttons {

	text-decoration: none;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	font-size: 12px;
	color: #ffffff;
	font-family: "Oswald";
	margin: 5px;
	padding: 2px;
	text-align: center;
	


}

a.main-buttons:hover,
a.mobile-nav-buttons {

	color: black;
	background-color: white;
	
	-webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    border-color: #ffffff;

}

a.mobile-nav-buttons {
	color: black;


}

.nav-wrapper {
	text-align: center;

}

header {
	
	text-align: center;
	margin: 5px;
	margin-top: 10px;
	font-size: 1em;
	font-family: "Oswald";
	font-style: normal;	

}








.logo {
	
	text-align: center;
	margin: 0;
	padding: 0;
	margin-top: 75px;
	



	
	
	

	
}

        






header{

	text-align: center ;
	
}

.menu_butt,
.menu_close {
	
	float: left;
	margin-left: 10px;
	margin-top: 10px;


}





.iconSmall {
	
	
	margin-right: 31px;
	margin-top: 8px;
    width: 45%;
	

	


}









ul li {
	display: inline;
}	
	
	





.assess {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
	
}



.stars {
	
	text-align: center;
	margin-top: 30px;
	margin-left: 10px;
	display: none;
	
}

.greyStars {

	display: block;
	margin: 0 auto;

}

.services {

   
  margin: 20px;
  padding: 20px;
  width: 100%;

	

}

#services-h2{

	width: 85%;
	margin-left: 7%;
}

p.mid {
	text-align: center;

}


.services-unit{

text-align: center;
margin: 0 auto;
width:100%;
float: left;

}







.B{
display: inline;
text-align: center;
width: 100%;
margin: 0 auto;
float: left;
margin-left: 6%;


}






.ribbion {
	background-color: #444444;
	padding: 10px;
	left-padding: 10px;
	right-padding: 10px;


}




.services {
	text-align: center; 
	color: #ffffff;
	font-weight: 700;
	font-size: 1em;
	margin-right: 20px;
	margin: 0 auto;
	
}	
	
	
.ad_img {


margin: 10px;
margin-left: 45px;


}








p {
	 font-size: 1.125em;
	 line-height: 1.67em;
	 margin: 0 0 1.667em 10px;
	 color: #444444;
	 font-family: "Lato";	 
	 text-align: left;
	 font-weight: 100;
	 font-style: normal;
	 padding: 5px;


}

p.intro-p {
	 text-align: center;
	 font-size: 18px;
	 margin-bottom: 1em;
	 color: #444444;
}

p.intro-paragraph {
	 
	 display: block;
	 text-align: center;
	 font-size: 20px;
	 
	 max-width: 300px;
	 border-top: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
	 margin: 0 auto;
	 
	 
	 color: #ffffff;
	 font-family: Lato;
}






h1 {
	 text-align: center;
	 font-weight: 800;
	 font-family: "Lato";
	 font-size: 3.75em;
	 line-height: 1em;
	 margin: 0 0 1.5em 0;
	 text-transform: uppercase;
	 letter-spacing: 5px;
	 text-align: center;
	 color: #ffffff;
	 padding: 20px;

	 
}

h1.testimonials {

	font-size: 2em;

}

.name {

	margin-bottom: 5px;
}

h1:before {

	 border-color: #CCCCCC transparent;
  	 
}



h1.bg-line {
	
	 font-family: Oswald;
	 font-size: 2em;
	 font-weight: 400;
	 line-height: 1em;
	 font-style: normal;
	 letter-spacing: 10px;
	 
	 color: #ffffff;
	 
	 
}


h1.bg-line:before {
   border-top: 1px solid #ffffff;
   content: "";
   display: inline-block;
   
   vertical-align: middle;
   width: 50%;
   margin-left: -50%;
   right: 1em;
   display: none;

}

h1.bg-line:after {
   border-top: 1px solid #ffffff;
   content: "";
   display: inline-block;
   
   vertical-align: middle;
   width: 50%;
   left: .5em;
   margin-right: -50%;
   display: none;

}



h2 {
	 
	 font-size: 1em;
	 line-height: 1em;
	 margin: 10px;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 font-family: "Lato";
	 font-weight: 200;
	 font-style: normal;

	 color: #ffffff;
	 
	 

}

h2.bg-line {
   overflow: hidden;
   font-family: "Futura W02 Bold";
   font-size: 5.69em;
   line-height: 1em;
   margin: 0px 0px 30px 0px;
   margin-bottom: 10px;
   color: rgba(255, 255, 255, 1);
   letter-spacing: 10px;
   white-space: nowrap;
   
}

h2.bg-line:before {
	 border-top: 1px solid #d4d4d4;
	 content: "";
	 display: inline-block;
	
	 vertical-align: middle;
	 width: 50%;
	 margin-left: -50%;
	 right: 2em;
	 display:none;
	 

}

h2.bg-line:after {
	 border-top: 1px solid #d4d4d4;
	 content: "";
	 display: inline-block;
	 
	 vertical-align: middle;
	 width: 50%;
	 left: 2em;
	 margin-right: -50%;
	 display:none;
	 

}





footer h2{
	text-align: center;
	word-wrap: break-word;
}



h3 {
	 font-size: .8em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 font-family: "Oswald";
	 color: white;
	 text-align: center;
	 font-weight: 400;
	 font-style: normal;
	 letter-spacing: 4px;
	 text-align: center;

}

h3.team {
	color: white;
	
}

h3.white {
	font-size:1.4em;
}



ol {
	 font-size: 1.125em;
	 line-height: 1.667%;
	 margin: 0 0 1.667em 3.333em;
	 list-style: decimal outside;
}






ol.process {
	
	

}


.philosophy {

	
	text-align: center;

	
}


 
.philosophy-unit {

		
}





p.quote {

	float: left;
	width: 95%;
	text-align: center;

	 
	 


}



.emph {
	
	margin-left: 250px;
}

a.nav_buttons {
	color: rgba(206, 200, 200, 1);
	text-decoration: none;
	border-bottom: 1px solid #444;
	outline: 0;
	text-align: center;
    padding:5px;
  	color: white;
  	background: none;
  	border: 0;
  	cursor  : pointer;
  	outline: 0;
  	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
}



a.nav_buttons:visited {
	 color: #ffffff;
	 text-decoration: none;
	 border-bottom: 1px solid #444;
	 outline: 0;
}



a.nav_buttons:hover {
	 border-bottom: none;
	 color: #24cfe5;
	 -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

a.nav_buttons:active {
	 border-bottom: none;
}

a.nav_buttons:focus {
	 border-bottom: none;
}


em {
	color: white;
	font-style: italic;
	font-size: .75em;
}


#philosophy_em {
	 	
	 
text-align: center;
margin: 0 auto;
width:100%;
font-size: 1.3em;
font-family: "Lato";
font-style: normal;	

color: white;


}

strong {
	
	 font-size: 100%;
	 font-weight: 200;
	 font-family: "Oswald";
	 font-style: italic;
	 white-space: nowrap;
	
	 

}

img {
	 width: auto;
	 max-width: 100%;
	 vertical-align: top;
	 height: auto;
	 margin: 0;
}

.img-media-list {

	
	text-align: center;
}

.success-quote {
	font-size: 1em;
	text-align: center;
    font-weight: normal;
    text-align: center;
    
    
    
}


.success-wrapper {

	width: 100%;
	text-align: center;
}

.success-img {
	text-align: center;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	
	height: auto;
	width: 200px;
	margin: 10px;


}

.services-block{
	padding: 10px;

}

.philosophy {
	
	padding: 35px;
	word-wrap: break-word;
}

#inside.philosophy {
float: left;
width: 65%;
margin-left: 220px;
background-color: rgba(192,192,192, .8);
padding: 5px;
color: black;
font-weight: 100;
font-style: normal;

}




p.has {

text-align: center;
margin: 0 auto;
width:100%;
font-size: 1.5em;
font-family: "Oswald";
font-style: normal;	

color: black;

}

p.emph {

	 display: block;
	 float: left;
	 font-size: 1.5em;
	 line-height: 1.25em;
	 width: 100%;
	 color: #444444;
	 width: 40%;
	 font-family: "Lato";
	 font-weight: 300;
	 font-style: italic;
	 margin-left: 250px;
}



.between {
	text-align: center; 
	padding: 10px;
	padding-top: 45px;
	background-color: #ffffff;
	height: 200px;
	width: 100%;
	
  	font-family: 'Lobster';
    color: #444444;
    font-size: 1.1em;

}

p.callout {
	 font-size: 1.5em;
	 line-height: 1em;
	 margin: 0 0 0 0;
	 font-family: "Lato";
	 text-align: center;
	
	 font-weight: 300;
	 font-style: normal;
	 color: #444444;

}


div.wrapper {
	 width: 100%;
	 margin: 5px;

}




.success { 

	margin-left: 20px;
	
	background-color: #ffffff;
	

}

.success-name {
	
	font-size: 22px;
}

.success-name:after {

	
}

p.join-quote {

	width: 100%;

	
	

}



p.tagline {
	 font-size: 2em;
	 line-height: 1.333em;
	 margin: -1.667em 0 2.5em 0;
	 color: #B9C2C2;
	 font-family: mf-futura-571;
	 text-align: center;
	 width: 1272.3125px;
}

p.team-emph {
	 font-size: 1em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 margin-bottom: 0;
	 text-align: center;
	 
}

div.circular {
	 width: 100%;
	 margin: 0 0 1.875em 0;
	 padding: 0 3.125em;

}

img.avatar {
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 border: .5em solid #d4d4d4;
	 text-align: center;
	 height: auto;
}



#join-quote {

	font-size: 1em;
	width: 70%;
	text-align: center;
	margin-left: 15%;
}

#process-quote {

	font-size: 1em;
	width: 60%;
	text-align: center;
	margin:20px;
	margin-left: 10px;
}

map {
	
	
	display: none;
	margin-left: 20px;
	box-shadow: 1px 0px 0px 11px #D1D1D1;
	-webkit-box-shadow: 1px 0px 0px 11px #D1D1D1;
	-moz-box-shadow: 1px 0px 0px 11px #D1D1D1;
	box-shadow: 1px 0px 0px 11px #D1D1D1;


	
}

.ad {

	display: none;
}

map:hover {

	box-shadow: 1px 0px 0px 11px #444444;
	-webkit-box-shadow: 1px 0px 0px 11px #444444;
	-moz-box-shadow: 1px 0px 0px 11px #444444;
	box-shadow: 1px 0px 0px 11px #444444;

}

.form-container {

	
	float: right;
	margin-bottom: 100px;
	width: 100%;
	margin-right: 20px;

}



form {
	
	padding: 50px;
	width:550px;
	height:750px;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	margin:auto;
	
	padding:10px;
	font-family: "Oswald";
	margin-top: 13px;
	margin-left: 90px;



	
}

#footer-quote {
	font-size: 12px;
}

#sign-up-label{

	margin-left: 20px;
	margin-top: 50px;

}

textarea:{

}



label {
	margin: .5px;

}

label[for=check1] {
    margin-top: 50px;
    display: inline-block;  
    cursor: pointer;  
     
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px; 

}

#special {
	
	bottom: 20px;
	
}


textarea#feedback {
    width:450px;
    height:90px;
    margin-bottom:100px; 
    background-color: #D1D1D1;
    border: none;
    margin-left: 10px;


}

textarea#feedback:hover{
	border-style: solid;
	


}

textarea {
    display:block;
}


input[type=checkbox] {
	width: 20px;
	background-color: #D1D1D1;
	
}

p.black{

	color: black;
	display:none;
}


.checkbox {

margin: 0;

}

.checkbox2 {
	
margin: 0;
}

input,
textarea {
	font-family: "Oswald";
	font-size: 17px;
	left-margin: 40px;
	padding: 10px;
	padding-left: 15px;
}




.description-field {
	display: none;
	max-width: 400px;

}



* {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}


footer div.wrapper{
	text-align: center;
	width: 100%;

}





ol.process {

	 list-style: none;
	 margin: 0;
	 font-size: 1em;
	 line-height: 1em;
	 overflow: hidden;

	 
}

li.process-item {
	 margin-bottom: 1.875em;
	 clear: both;


	

}

p.process-h2	{

	text-align: center;
	font-size: 2.5em;
}

div.process-number {
	 
	 margin: 0;
	 float: left;
	 display: inline;
	 width: 22.65625%;
	 margin-right: 3.125%;

}

div.process-content {
	 
	 margin: 0;
	 text-align: center;
	 display: inline;
	 
	 width: 100%;
	 padding-right: 25.78125%;
	 padding-top: 1em;
	 color: black;
	 margin-left: 20%;
	 margin-bottom: 40px;


}


.boldProcess {

 	font-family: "Lato";
 	font-weight: 700;
 	border-bottom: 1px solid #A2A2A2; 
 	padding-bottom: 5px;
 	border-color: #DADADA;
 	text-align: center;
 	width: 95%;

 	
}

div.circle {
	 width: 30%;
	 margin: 0 35%;
	 display: none;
}

span.circle {
	 float: left;
	 width: 100%;
	 padding-top: 50%;
	 font-size: 1.5em;
	 line-height: 1.25em;
	 margin-top: -0.625em;
	 text-align: center;
	 color: #ffffff;
	 font-family: "Lato";
}




div.grid-unit1 {
	 
	 margin-left: 0;
	 width: 48%;
	 float: left;
	 display: inline;
	 padding: 10px;

}

div.grid-unit2 {
	 
	 margin-left: 0;
	 width: 48%;
	 float: right;
	 display: inline;
	 padding: 10px;

}


.team{

	color: white;
	float: left;
	
}



div.team-grid {
	 *zoom: 1;
}

div.team-grid:before {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
}

div.team-grid:after {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
	 clear: both;
}

.grid-unit2 {
	display: none;
}

.small-nav {

	position: ;	
}

div.join {
	*zoom: 1;
}

div.join:before {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
}

div.join:after {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
	 clear: both;
}


article.form-container{


	width: 50%;

}




div.philosophy {
	 *zoom: 1;
	 word-wrap: break-word;
	 padding-left: 20px;
}

div.philosophy:before {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
}

div.philosophy:after {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
	 clear: both;
}

div.circle:after {
	 -webkit-border-radius: 50%;
	 -o-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 content: "";
	 display: block;
	 width: 100%;
	 height: 0;
	 padding-bottom: 100%;
	 border: 1px solid #d4d4d4;
	 border-radius: 50%;
}

li {
	 color: #444444;
}

section.slice:before {
	 content: "";
	 display: table;
}

section.slice:after {
	 content: "";
	 display: table;
	 clear: both;
}

section.slice {
	 text-align: center;
	 margin: 0;
	 padding: 3%;
	 width: auto;
	 height: 1026px;

}


p {
	color: #ffffff;

}




p.process {
	 text-align: center;
	 width: 100%;
	 margin: 10px;
	
}



h1.intro-h1 {
	 text-align: center;
	 font-size: 36px;
	 line-height: 1.2em;
	 margin-bottom: 1em;
}



img.standard {
	 max-width: 100%;
	 width: 500px;
}



div.half {
	 float: left;
	 width: 50%;
	 margin: 0;
	 text-align: center;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}


 
.front-page-buttons {
	
	text-align: center;
	margin: 0;
	
	
	font-size: 250%;

}

#join_butt {


	padding-left: 20px;
	padding-right: 20px;
}







.social_icons {

	max-width: 25%;
	max-height: 25%;
	
	cursor: pointer;
	text-align: center;

	
	
}





footer { 
	color: #ffffff;
	background-color: #444444;
	height: 100px;
	text-align: center;
	padding-top: 10px;
	font-family: "Lato";

}

.white {
	color: #ffffff;
}

select {
	width: 100%;
	height: 100%;
	position:fixed;
	top:85px;
}