@import "parralax.css";
@import "sections.css";
@import "mediaQueries.css";




body {
	 font-size: 1em;
	 line-height: 1.5em;
	 color: black;
	 background-color: #ffffff;
}

nav { 
	  position: fixed;
  	  top: 0;
      left: 0;
      z-index: 9999;
      width: 100%;
      background-color: #00a087;
	  color: #ffffff;
	  height: 85px;
	  background: #444444; /* Old browsers */
	  background: -moz-linear-gradient(top,  #444444 0%, #444444 80%, #24cfe5 80%, #24cfe5 100%); /* FF3.6+ */
	  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#444444), color-stop(80%,#444444), color-stop(80%,#24cfe5), color-stop(100%,#24cfe5)); /* Chrome,Safari4+ */
	  background: -webkit-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* Chrome10+,Safari5.1+ */
	  background: -o-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* Opera 11.10+ */
	  background: -ms-linear-gradient(top,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* IE10+ */
	  background: linear-gradient(to bottom,  #444444 0%,#444444 80%,#24cfe5 80%,#24cfe5 100%); /* W3C */
	  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#444444', endColorstr='#24cfe5',GradientType=0 ); /* IE6-9 */



}

div.button_boxA {
	float: left;
	margin-left: 45%;	
	

}

button:hover {

	color: #24cfe5;
	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

}

header{

	text-align: center ;
}

.iconSmall{
	display: none;
}

.social_icons {

	max-width: 25%;
	max-height: 25%;
	
	cursor: pointer;
	text-align: center;

	
	
}


.button_box {
	

	display: block;
	text-align: center;
	
	margin: 0 auto;
	padding-right: 50px;
	margin-top: 10px;

}

.stars {

	

	display: block;

}

.assess {
	margin: 10px;
	margin-bottom: 30px;
	margin-top: 0;
	
}

.greyStars {

	display: block;
	margin: 0 auto;
}

p.services {
	text-align: center;
	margin: 0 auto;
	font-size: 2em;


}

strong.services {
	background-image: url(../img/ribbion.svg);
	background-repeat: no-repeat;
	background-position: center; 
	color: #ffffff;
	font-weight: 700;
	font-size: 1em;
	padding-bottom: 2px;
	
}

.services {
	text-align: center;
	display: block;


}




footer { 
	color: #ffffff;
	background-color: #444444;
	height: 150px;
	text-align: center;
	padding-top: 10px;
	font-family: "Lato";

}





p {
	 font-size: 1.125em;
	 line-height: 1.67em;
	 margin: 0 0 1.667em 10px;
	 color: #444444;
	 font-family: "Lato";
	 width: 659.0625px;
	 text-align: left;
	 font-weight: 100;
	 font-style: normal;
	 padding: 5px;

}

p.intro-p {
	 text-align: center;
	 font-size: 18px;
	 margin-bottom: 1em;
	 color: #444444;
}

p.intro-paragraph {
	 
	 display: block;
	 text-align: center;
	 font-size: 29px;
	 line-height: 50px;
	 max-width: 300px;
	 border-top: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
	 margin: 0 auto;
	 
	 margin-top: 12px;
	 color: #444444;
	 font-family: Lato;
}

p.callout {
	 font-size: 2.7em;
	 line-height: 1.125em;
	 margin: 0 0 0 0;
	 color: rgba(51, 51, 51, 1);
	 font-family: "Oswald";
	 text-align: center;
	 width: 1260.40625px;
	 font-weight: 300;
	 font-style: normal;
	 color: #ffffff;
}

footer p.callout {
	 margin-left: 20%;
	 font-size: 2.7em;
	 line-height: 2em;
	 margin-left: 10%;
	 color: rgba(51, 51, 51, 1);
	 font-family: "Oswald";
	 text-align: center;
	 width: 1260.40625px;
	 font-weight: 300;
	 font-style: normal;
	 color: #ffffff;
}


h1 {
	 font-weight: 700;
	 font-size: 3.75em;
	 line-height: 1em;
	 margin: 0 0 1.5em 0;
	 text-transform: uppercase;
	 letter-spacing: 5px;
	 text-align: center;
	 color: #ffffff;
	 
}

h1:before {

	 border-color: #CCCCCC transparent;
  	 
}



h1.bg-line {
	 overflow: hidden;
	 font-family: Oswald;
	 font-size: 5.69em;
	 font-weight: 400;
	 line-height: 1em;
	 font-style: normal;
	 letter-spacing: 10px;
	 margin: 20px 25px 1em 25px;
	 color: #ffffff;
	 
	 
}


h1.bg-line:before {
   border-top: 1px solid #ffffff;
   content: "";
   display: inline-block;
   position: relative;
   vertical-align: middle;
   width: 50%;
   margin-left: -50%;
   right: 1em;
}

h1.bg-line:after {
   border-top: 1px solid #ffffff;
   content: "";
   display: inline-block;
   position: relative;
   vertical-align: middle;
   width: 50%;
   left: .5em;
   margin-right: -50%;

}

h2 {
	 font-size: 1.875em;
	 line-height: 1em;
	 margin: 0em 0;
	 text-transform: uppercase;
	 letter-spacing: 2px;
	 text-align: left;
	 font-family: Oswald;
	 font-weight: 400;
	 font-style: normal;
	 color: #ffffff;
	 
	 

}

h2.bg-line:before {
	 border-top: 1px solid #d4d4d4;
	 content: "";
	 display: inline-block;
	 position: relative;
	 vertical-align: middle;
	 width: 50%;
	 margin-left: -50%;
	 right: 2em;

}

h2.bg-line:after {
	 border-top: 1px solid #d4d4d4;
	 content: "";
	 display: inline-block;
	 position: relative;
	 vertical-align: middle;
	 width: 50%;
	 left: 2em;
	 margin-right: -50%;
}



h2.bg-line {
   overflow: hidden;
   font-family: "Futura W02 Bold";
   font-size: 5.69em;
   line-height: 1em;
   margin: 0px 0px 30px 0px;
   color: rgba(255, 255, 255, 1);
   letter-spacing: 10px;
}

footer h2{
	text-align: center;
	word-wrap: break-word;
}



h3 {
	 font-size: 1.5em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 font-family: Oswald;
	 color: #444444;
	 width: 676.0625px;
	 font-weight: 400;
	 font-style: normal;
	 letter-spacing: 4px;
}

ul {
	 font-size: 1.125em;
	 line-height: 1.667%;
	 margin: 0 0 1.667em 3.333em;
	 list-style: disc outside;
	 
}

ol {
	 font-size: 1.125em;
	 line-height: 1.667%;
	 margin: 0 0 1.667em 3.333em;
	 list-style: decimal outside;
}


table {
	display: block;
}



ol.process {
	
	margin-left: 40%;

}

blockquote {
	 margin: 0;
	 margin-left: 100px;
}


 



p.quote {

	 line-height: 1.111em;
	 font-size: 1.7em;
	 float: right;
	 padding: 10px;
	 color: white;
	 text-align: left;
	 font-family: "Lato";
	 width: 100%;
	 font-weight: 100;
	 font-style: normal;
	 margin: 5px;
	 
	 


}



.emph {
	
	margin-left: 250px;
}

a {
	 color: rgba(206, 200, 200, 1);
	 text-decoration: none;
	 border-bottom: 1px solid #444;
	 outline: 0;
	 text-align: center;
	 width: 589.0458984375px;
	 padding:5px;
  	color: white;
  	background: none;
  	border: 0;
  	cursor  : pointer;
  	outline: 0;
  	font-family: "Lato";
	font-weight: 400;
	font-style: normal;
}



a:visited {
	 color: #ffffff;
	 text-decoration: none;
	 border-bottom: 1px solid #444;
	 outline: 0;
}



a:hover {
	 border-bottom: none;
	 color: #24cfe5;
	 -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

a:active {
	 border-bottom: none;
}

a:focus {
	 border-bottom: none;
}

#philosophy_em {
	 	
	 text-align: center;

}

em {
	color: white;
}

strong {
	
	 font-weight: 100;
	 font-family: "Lato";
	 font-style: italic;
	 letter-spacing: 2px;
}

img {
	 width: auto;
	 max-width: 100%;
	 vertical-align: top;
	 height: auto;
	 margin: 0;
}

#achieve_img {
	border-width: 5px;
	border-style: solid;
	border-color: white;
	float: left;
}

.services-block{
	padding: 10px;

}

.philosophy-block {
	
	padding: 35px;
	word-wrap: break-word;
}

#inside.philosophy {
float: left;
width: 65%;
margin-left: 220px;
background-color: rgba(192,192,192, .8);
padding: 5px;
color: black;
font-weight: 100;
font-style: normal;

}




p.has {
float: left;
width: 65%;
text-align: center;
margin-left: 220px;

font-size: 1.5em;
font-family: "Oswald";
font-style: normal;	

color: black;

}

p.emph {

	 display: block;
	 float: left;
	 font-size: 1.5em;
	 line-height: 1.25em;
	 width: 100%;
	 color: #444444;
	 width: 40%;
	 font-family: "Lato";
	 font-weight: 300;
	 font-style: italic;
	 margin-left: 250px;
}



.between {
	text-align: center;
	 margin: 0 0 0 0;
	 padding: 7.5em 0;
	 background: #B9C2C2;
	 color: #fff;
	 clear: both;
	background-color: #444444;
	height: 300px;
	width: 100%;

}







.philosophy { 

	float: right;
	margin-right: 50px;

}

.philosophy-block {

	padding: 35px;
	word-wrap: break-word;


}



p.tagline {
	 font-size: 2em;
	 line-height: 1.333em;
	 margin: -1.667em 0 2.5em 0;
	 color: #B9C2C2;
	 font-family: mf-futura-571;
	 text-align: center;
	 width: 1272.3125px;
}

p.team-emph {
	 font-size: 1.5em;
	 line-height: 1.25em;
	 margin: 0 0 0 0;
	 margin-bottom: 0;
	 text-align: center;
	 width: 425.703125px;
}

div.circular {
	 width: 100%;
	 margin: 0 0 1.875em 0;
	 padding: 0 3.125em;
}

img.avatar {
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
	 border: 1em solid #d4d4d4;
}

ul.col-3-css {
	 -webkit-column-count: 3;
	 -moz-column-count: 3;
	 -webkit-column-gap: 2.222em;
	 -moz-column-gap: 2.222em;
	 text-align: center;
	 list-style: none;
	 margin: 0;
	 column-count: 3;
	 column-gap: 2.222em;
	 line-height: 1.83em;
}

map {
	float: left;
	margin-top: 45px;
	margin-left: 20px;
	
	box-shadow: 1px 0px 0px 11px #D1D1D1;
	-webkit-box-shadow: 1px 0px 0px 11px #D1D1D1;
	-moz-box-shadow: 1px 0px 0px 11px #D1D1D1;
	box-shadow: 1px 0px 0px 11px #D1D1D1;
	
}

map:hover {

	box-shadow: 1px 0px 0px 11px #444444;
	-webkit-box-shadow: 1px 0px 0px 11px #444444;
	-moz-box-shadow: 1px 0px 0px 11px #444444;
	box-shadow: 1px 0px 0px 11px #444444;

}

.form-container {

	position: relative;
	float: right;
	margin-bottom: 100px;
	width: 100%;
	margin-right: 20px;

}



form {
	
	padding: 50px;
	width:550px;
	height:750px;
	font-size: 14px;
	line-height: 24px;
	text-decoration: none;
	margin:auto;
	position:relative;
	padding:10px;
	font-family: "Oswald";
	margin-top: 13px;
	margin-left: 90px;



	
}

#sign-up-label{

	margin-left: 20px;
	margin-top: 50px;

}

textarea:{

}


input {
	
	width:450px;
	margin: 5px;
	height: 50px;
	border: none;
	line-height: 24px;
	background-color: #D1D1D1;
	border-color: #444444;
	margin: 10px;

	

}

input:hover{

	-webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;

	border-style: solid;
	border-width: 3px;
	
}

input:focus{

	border-style: solid;
	border-width: 3px;
	outline:0;
	
}

label {
	margin: .5px;

}

label[for=check1] {
    margin-top: 50px;
    display: inline-block;  
    cursor: pointer;  
    position: relative;  
    padding-left: 25px;  
    margin-right: 15px;  
    font-size: 13px; 

}

#special {
	position: relative;
	bottom: 20px;
	
}


textarea#feedback {
    width:450px;
    height:90px;
    margin-bottom:100px; 
    background-color: #D1D1D1;
    border: none;
    margin-left: 10px;


}

textarea#feedback:hover{
	border-style: solid;
	


}

textarea {
    display:block;
}


input[type=checkbox] {
	width: 20px;
	background-color: #D1D1D1;
	
}

p.black{

	color: black;
}


.checkbox {

margin: 0;

}

.checkbox2 {
	
margin: 0;
}

input,
textarea {
	font-family: "Oswald";
	font-size: 17px;
	left-margin: 40px;
	padding: 10px;
	padding-left: 15px;
}




.description-field {
	display: none;
	max-width: 400px;

}



* {
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}

div.wrapper {
	 width: 1280px;
	 margin: 0 auto;
}

footer div.wrapper{
	text-align: center;
	width: 100%;

}

div.grid-unit {
	 position: relative;
	 width: 33.33%;
	 float: left;
	 display: inline;
	 margin: 0px 0px 1.8em 0px;
	 padding-left: 20px;

}

ol.process {
	 list-style: none;
	 margin: 0;
	 font-size: 1em;
	 line-height: 1em;
	 overflow: hidden;
	 
}

li.process-item {
	 margin-bottom: 1.875em;
	 clear: both;

}

div.process-number {
	 position: relative;
	 margin: 0;
	 float: left;
	 display: inline;
	 width: 22.65625%;
	 margin-right: 3.125%;

}

div.process-content {
	 position: relative;
	 margin: 0;
	 float: left;
	 display: inline;
	 width: 35%;
	 
	 padding-right: 25.78125%;
	 padding-top: 1em;
	 color: black;
	 margin-left: 7%;
	 margin-bottom: 40px;

}


.boldProcess {

 	font-family: "Lato";
 	font-weight: 700;
 	border-bottom: 1px solid #A2A2A2; 
 	padding-bottom: 5px;
 	border-color: #DADADA;

 	
}

div.circle {
	 width: 30%;
	 margin: 0 35%;
}

span.circle {
	 float: left;
	 width: 100%;
	 padding-top: 50%;
	 font-size: 1.5em;
	 line-height: 1.25em;
	 margin-top: -0.625em;
	 text-align: center;
	 color: #ffffff;
	 font-family: "Lato";
}

div.grid-unit1 {
	 position: relative;
	 margin-left: 0;
	 width: 48%;
	 float: left;
	 display: inline;
	 padding: 10px;

}

div.grid-unit2 {
	 position: relative;
	 margin-left: 0;
	 width: 48%;
	 float: right;
	 display: inline;
	 padding: 10px;

}


.team{

	color: white;

}



div.team-grid {
	 *zoom: 1;
}

div.team-grid:before {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
}

div.team-grid:after {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
	 clear: both;
}

.grid-unit2 {
	display: none;
}

.small-nav {

	position: ;	
}

div.join {
	*zoom: 1;
}

div.join:before {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
}

div.join:after {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
	 clear: both;
}


article.form-container{


	width: 50%;

}




div.philosophy {
	 *zoom: 1;
	 word-wrap: break-word;
	 padding-left: 20px;
}

div.philosophy:before {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
}

div.philosophy:after {
	 content: '\0020';
	 display: block;
	 overflow: hidden;
	 visibility: hidden;
	 width: 0;
	 height: 0;
	 clear: both;
}

div.circle:after {
	 -webkit-border-radius: 50%;
	 -o-border-radius: 50%;
	 -moz-border-radius: 50%;
	 -ms-border-radius: 50%;
	 content: "";
	 display: block;
	 width: 100%;
	 height: 0;
	 padding-bottom: 100%;
	 border: 1px solid #d4d4d4;
	 border-radius: 50%;
}

li {
	 color: rgba(255, 255, 255, 1);
}

section.slice:before {
	 content: "";
	 display: table;
}

section.slice:after {
	 content: "";
	 display: table;
	 clear: both;
}

section.slice {
	 text-align: center;
	 margin: 0;
	 padding: 3%;
	 width: auto;
	 height: 1026px;

}

div.image-media:before {
	 content: "";
	 display: table;
}

div.image-media:after {
	 content: "";
	 display: table;
	 clear: both;
}

article.img-media-list {
	 width: auto;
	 text-align: cen;
	 margin: 0 auto;

}

div.image-media p {
	width: 300px;
	float: right;
	margin-right: 18%;


}




div.image-media {
	 width: 673.0625px;
	 text-align: left;
	 margin-right: 300px;

}

img.image-media-left {
	 max-width: 100%;
	 width: 220px;
	 margin: 0 1em 1em 0px;
	 float: left;
}

p {
	color: #ffffff;

}

p.members {
	 width: 1089.0625px;
	 margin: 0px 0px 30.0060005187988px 20px;
	 text-align: left;
}

p.team-line {
	 width: 1269.3125px;
	 text-align: center;
	 font-size: 28px;
}

p.join {
	width: 608.921875px;
	 font-family: "Lato";
	 font-weight: 100;
	 font-style: normal;
}

p.philosophy {
	 width: 608.921875px;
	 font-family: "Lato";
	 font-weight: 100;
	 font-style: normal;
	 word-wrap: break-word;

}

p.join {
	 width: 683.3125px;
}


p.process {
	 width: 683.3125px;
}

h3.team {
	 width: 435.703125px;
}

h1.intro-h1 {
	 text-align: center;
	 font-size: 36px;
	 line-height: 1.2em;
	 margin-bottom: 1em;
}



img.standard {
	 max-width: 100%;
	 width: 500px;
}



div.half {
	 float: left;
	 width: 50%;
	 margin: 0;
	 text-align: center;
	 -webkit-box-sizing: border-box;
	 -moz-box-sizing: border-box;
	 box-sizing: border-box;
}


 
.buttonsAA {
	display:none;
	text-align: center;
	float: left;
	margin-left: 45%;
	font-size: 250%;

}

#join_butt {


	padding-left: 20px;
	padding-right: 20px;
}

#right {
	
	margin-left: 100px


}