


@media screen and (max-width: 1200px) {
/* Ipad and other tablets */



ul#desktop-nav,
li.desktop{
	display: inline;
	
}

ul#desktop-nav{
	display: inline;
}



.iconSmall{
	float: left;
	margin-right: 1%;
	margin-top: 2px;
	
}

section#philosophy {
	 
	 
	 background-image: url("../img/fithouseIMG5.jpg");
	 background-color: black;
	 background-repeat: no-repeat;
	 background-size: fit;
	 height: 650px;
	 background-size: 100% 100%;

}

section#home {
	
	
	background-image: url("../img/fithouseIMG1.jpg");
	background-repeat: no-repeat;
	height: 800px;
	background-size: 100% 800px;
	
		
}



}

@media screen and (max-width: 660px) {






}


@media screen and (min-width: 581px) {


.menu_butt,
.menu_close {
	display: none;
}

ul#desktop-nav {
	display:none;

}

	


}


@media screen and (max-width: 581px) {

.iconSmall{



}

ul#desktop-nav {
	display:none;

}


	


}





@media screen and (max-width: 480px) {
/* iphones and other mobile phones */
	
	section#philosophy {
	 
	 
	
	 height: 1000px;
	 background-size: 100% 400px;

}

ul#desktop-nav {
	display:none;

}

.iconSmall{

float: right;
margin-right: 30%;



}



}

@media screen and (max-width: 384px) {

ul#desktop-nav {
	display:none;

}


}


@media screen and (max-width: 375px) {




.iconSmall{

float: right;
margin-right: 27%;



}

section#home {
	
	
	background-image: url("../img/fithouseIMG1.jpg");
	background-repeat: no-repeat;
	height: 500px;
	background-size: 100% 600px;
	
		
}



section#philosophy {
	 
	 
	 
	 height: 1100px;
	 

}

section.between {
	margin-top: 40px;
	padding-top: 25px;
	background-color: white;
	height: 150px;
}

ul#desktop-nav {
	display:none;

}

}

@media screen and (max-width: 320px) {



ul#desktop-nav {
	display:none;

}

.iconSmall{

float: right;
margin-right: 18%;



}

section#success {
	
	
	height: 1850px;
	background-image: url("../img/fithouseIMG2.jpg");
	background-size: cover;
	background-size: 100% 700px;
	background-color: black;

}

section#home {
	
	
	
	height: 480px;
	background-size: 100% 480px;
	
		
}

section#philosophy {
	 
	 
	
	 height: 1200px;
	 background-size: 100% 400px;

}


	



}





