nav { 
	color: #ffffff;
	background-color: #444444;
	height: 80px;
}

footer { 
	color: #ffffff;
	background-color: #444444;
	height: 80px;
	text-align: center;
	padding-top: 10px;
}


.picture {
	
	background-image: url("../img/homePageImage.jpg"), url("../img/img2.jpg");
	background-repeat: no-repeat;
	height:640px;
	min-height:640px; 
	background-width: 100%;

}




.button_box {

	float: right;
	padding: 20px 5px 5px 5px;
	margin-right: 20px;
	margin-top: 5px;
}


.logo {
	float: left;
	margin-left: 37%;
	margin-right: 50%;
	margin-top: 20px;
	text-align: center;
}

.iconSmall {
	position: absolute;
	float: left;
	margin-top: 10px;
	margin-left: 10px;
}

#sustainable{
	color:black;
	text-align: center;
	font-weight: 200;
	width: 350px;
	margin-right: 5px;


}

.stars{
	margin-top: 25px;
	margin-left: 45%;

}

.bigButt {
	position:absolute;
	text-decoration: none;
}



#home{

	
	background-color: #FFFFFF;	
	min-height: 500px; 
    height: 500px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative;
}

.avatar {

	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	-moz-border-radius: 30px; /* Disabled for FF1+ */
	width:304px;
	height:228px;
}

