




//pictures 
#picture1 {
	
	background-image: url("../img/fithouseIMG2.jpg");
	background-repeat: no-repeat;
	height:100%;
	min-height:540px; 
	background-size: 100%;

}

#picture2 {

	background-image: url("../img/fithouseIMG.jpg");
	background-repeat: no-repeat;
	height:100%;
	min-height:540px;
	background-size: 100%;

}

#picture3 {

	background-image: url("../img/fithouseIMG3.jpg");
	background-repeat: no-repeat;
	height:100%;
	min-height:540px; 
	background-size: 100%;

}

#picture4 {

	background-image: url("../img/fithouseIMG4.jpg");
	background-repeat: no-repeat;
	height:100%;
	min-height:540px; 
	background-size: 100%;

}

#picture5 {

	background-image: url("../img/fithouseIMG5.jpg");
	background-repeat: no-repeat;
	height:100%;
	min-height:540px; 
	background-size: 100%;

}



button {
	padding:5px;
  	color:#ffffff;
  	background: none;
  	border: 0;
  	text-decoration: none;
  	cursor  : pointer;
  	outline: 0;
  	font-family: Lato;
	 font-weight: 400;
	 font-style: normal;
  	
}

.main-buttons {
	display: inline;
	font-size: 20px;
	color: #444444;
	border-width: 5px;
	border-style: solid;
	font-family: "Oswald";
	margin-left: 47%;
	margin-bottom: 30px;
	padding-left: 20px;
	padding-right: 20px;

	
}


.button_box {

	float: right;
	margin-top: 20px;
	margin-right: 20px;
	
	
}



.logo {
	float: left;
	margin-left: 36%;
	margin-top: 20px;
	text-align: center;
}

.iconSmall {
	position: absolute;
	float: left;
	margin-top: 15px;
	margin-left: 10px;
}


.stars{
	float: left;
	margin-top: 25px;
	margin-left: 47%;

}





#home{

	
	background-color: #FFFFFF;	
	min-height: 500px; 
    height: 500px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative;
}

#join {

	height: 800px;


}

#sustainable{
	color:black;
	text-align: center;
	font-weight: 200;
	width: 350px;
	margin-right: 35%;
	margin-left: 40%;
	margin-bottom: 50px;

}

.avatar {

	-webkit-border-radius: 30px; /* Saf3+, Chrome */
	border-radius: 30px; /* Opera 10.5, IE 9 */
	-moz-border-radius: 30px; /* Disabled for FF1+ */
	width:304px;
	height:228px;
}

