/* section styleing */ 

section	{

	margin:0;
}

section.between {
	margin-top: 40px;
	background-color: white;
	
}




section#home {
	
	
	background-image: url("../img/fithouseIMG1.jpg");
	background-color: black;
	background-repeat: no-repeat;
	background-size: 100% 500px;
	height: 500px;
	
		
}

section#philosophy {
	 
	 
	 background-image: url("../img/fithouseIMG5.jpg");
	 background-color: black;
	 background-repeat: no-repeat;
	 background-size: fit;
	 height: 1250px;
	 background-size: 100% 400px;

}

section#services {
	 
	
	 
	 height: 1900px;
	 background-image: url("../img/fithouse.050511.rhr09.jpg");
	 background-repeat: no-repeat;
	 background-color: black;
	 background-size: cover;
	 background-size: 100% auto;
	 outline: 3.5px solid white;
  	 outline-offset: -21px;

}

section#success {
	
	
	height: 2000px;
	background-image: url("../img/fithouseIMG2.jpg");
	background-size: cover;
	background-size: 100% 700px;
	background-color: black;
	
}

section#team {
	 
	 
	 height: 1550px;
	 text-align: center;
	 background-image: url("../img/fithouseIMG.jpg");
	 background-color: black;
	 background-repeat: no-repeat;
	 background-size: cover;
	 outline: 4px solid white;
  	 outline-offset: -21px;
  	 background-size: 100% 450px;
}

section#process {
	 
	 
	 
	 background-color: black;
	 background-image: url("../img/fithouseIMG4.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 background-size: 100% 450px;	
}


section#join {
	 
	 
	 
	 height: 1000px;
	 background-image: url("../img/fithouse.050511.rhr01.jpg");
	 background-repeat: no-repeat;
	 background-color: black;
	 background-size: cover;



	background-size: 100% 450px;
}


#philosophy_between {

}

#services_between {



}

#success_between {

}

#team_between {

}

#process_between {

}

#join_between {

}




form {

	display:none;
}




















