/* section styleing */ 

.page {

	height: 1000px;
}

section#home {
	
	height: 370px;
	
	
	
}

section#video {
	margin-top: 80px;
	height: 960px;
	background-color: black;
	
}









.img-media-list {
	
}

section#ethos {
	 padding: 5.625em 0;
	 

}

section#philosophy {
	
	background-image: url(fithouseIMG5.jpg);


}


section#slice {


}

section#join {
	 padding: 5.625em 0;	
	 height: 1400px;
	 background-image: url("../img/fithouse.050511.rhr01.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 outline: 4px solid white;
  	 outline-offset: -21px;
}

section#ethos {

	border-style: solid;
	border-width: 2px;

}

section.callout {
	 text-align: center;
	 margin: 0 0 0 0;
	 padding: 7.5em 0;
	 background: #B9C2C2;
	 color: #fff;
	 clear: both;
	 background-color: rgba(255, 255, 255, 1);
}

section.callout-top {
	 text-align: center;
	 margin: 0 0 0 0;
	 background: #B9C2C2;
	 color: #444444;
	 padding: 11.25em 0;
	 background-color: rgba(255, 255, 255, 1);
}

section.callout-bottom {
	 text-align: center;
	 margin: 0 0 0 0;
	 background: #B9C2C2;
	 color: #fff;
	 padding: 3.75em 0;
}

section#team {
	 padding: 5.625em 0;
	 text-align: center;
	 background-image: url("../img/fithouseIMG.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
	 outline: 4px solid white;
  	 outline-offset: -21px;
}

section#philosophy {
	 padding: 5.625em 0;
	 background-image: url("../img/fithouseIMG5.jpg");
	 background-size: cover;
}

section#success {
	height: 1320px;
	background-image: url("../img/fithouseIMG2.jpg");
	 background-size: cover;
}

section#services {
	 padding: 5.625em 0;
	 height: 2200px;
	 
	 background-image: url("../img/fithouse.050511.rhr09.jpg");
	 background-size: cover;
	 outline: 3.5px solid white;
  	 outline-offset: -21px;

}



section#process {
	 padding: 5.625em 0;
	 background-color: black;
	 background-image: url("../img/fithouseIMG4.jpg");
	 background-size: cover;	
}









section.half-half:before {
	 content: "";
	 display: table;
}

section.half-half:after {
	 content: "";
	 display: table;
	 clear: both;
}

section.half-half {
	 margin: 0 auto;
	 text-align: center;
	 width: auto;
	 background-color: #E6E6E6;
	 padding: 30px;
	 margin-bottom: 30px;
	

}