.site-wrapper {
  background-image: url("img/fithouseIMG1.jpg");

  height:600px;
}
.between {
    background-color: white;
    height:250px;
}
#about {

  background: url("../img/fithouseIMG5.jpg") no-repeat;
  background-size: 100%;
  height:1300px;

}


#home {

  background: url("../img/fithouseIMG1.jpg") no-repeat;
  background-size: 100% 100%;
  height:800px;

}

#Philosophy {
  text-align:justify;
}

#training {
  background: url("../img/fithouseIMG.jpg")no-repeat;
  height:1650px;
}

#results {
  height: 1000px;
}

footer {
  height: 130px;
  padding: 20px;
}
